{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:svelte/recommended"
    ],
    "rules": {},
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "tsconfigRootDir": "./tsconfig.json",
        "extraFileExtensions": [".svelte"] // This is a required setting in `@typescript-eslint/parser` v4.24.0
    },
    "overrides": [
        {
            "files": ["*.svelte"],
            "parser": "svelte-eslint-parser",
            // Parse the `<script>` in `.svelte` as TypeScript by adding the following configuration.
            "parserOptions": {
                "parser": "@typescript-eslint/parser"
            }
        }
    ],
    "env": {
        "es6": true,
        "browser": true
    },
    "plugins": ["@typescript-eslint"],
    "ignorePatterns": ["tests/", "node_modules/"] // Add the path you want to exclude
}
