@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.woff2') format('woff2');
}

@keyframes blurFocus {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(5px);
    }
}

@keyframes scaleAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/**
* ~ Global Variables ~
*
*/
:root {
    /* Colors */
    /* Light Mode Colors */
    --background-light: #f8f8f8;
    --text-light: #333333;
    --accent-light: #3498db;
    --error-light: #e74c3c;
    --warning-light: #f39c12;
    --info-light: #27ae60;
    /* Dark Mode Colors */
    --background-dark: #1e1e1e;
    --text-dark: #ffffff;
    --accent-dark: #3498db;
    --error-dark: #ff6347;
    --warning-dark: #ffa500;
    --info-dark: #2ecc71;

    /* Fonts */
    --main-font: 'Roboto', Arial, sans-serif;
    --default-font-size: 1rem;
    --subheader-font-size: 1.25rem;
    --header-font-size: 1.75rem;
    --default-line-height: 1.5;
    --header-line-height: 1.2;
    --default-letter-spacing: normal;
    --header-letter-spacing: 1px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;

    /* Animation */
    --animation-duration: 0.21s;

    /* Borders */
    --border-light: 1px solid #1e1e1e;
    --border-dark: 1px solid #333333;
}

/**
* ~ General Resets ~
*
*/
*,
*:before,
*:after {
    box-sizing: border-box;
    border: none;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    box-shadow: none;
    padding: 0;
}

* {
    font-family: var(--main-font);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

html,
body {
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    overscroll-behavior: none; /* Prevent scroll chaining */
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-medium);
}

h1 {
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    letter-spacing: var(--header-letter-spacing);
}

h2 {
    font-size: var(--subheader-font-size);
}

p {
    letter-spacing: var(--default-letter-spacing);
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

a {
    /* Places underlines below the descenders */
    text-underline-position: under;
    /* Sets the thickness as a percentage of the font size */
    text-decoration-thickness: 8;
}

img {
    display: block;
    max-width: 100%;
}

.error-message {
    color: var(--error-light);
    background-color: var(--error-dark);
}

.warning-message {
    color: var(--warning-light);
    background-color: var(--warning-dark);
}

.info-message {
    color: var(--info-light);
    background-color: var(--info-dark);
}

.input-field {
    animation: blurFocus var(--animation-duration) ease-in-out;
}
